.desktop2-desktop2 {
  gap: 10px;
  width: 100%;
  height: 2044px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(254, 236, 236, 1);
}
.desktop2-group1 {
  top: 29px;
  left: 188px;
  width: 1065px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop2-text10 {
  color: rgba(61, 88, 116, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text11 {
  top: 10px;
  left: 655px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text12 {
  top: 10px;
  left: 804px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text13 {
  top: 10px;
  left: 979px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text14 {
  top: 277px;
  left: 188px;
  color: rgba(61, 88, 116, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text15 {
  top: 404px;
  left: 188px;
  color: rgba(0, 0, 0, 1);
  width: 710px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-cheerfulyoungbrunettewomansmilingpointingfingerlef {
  top: 163px;
  left: 713px;
  width: 540px;
  height: 552px;
  position: absolute;
}
.desktop2-rectangle6 {
  top: 694px;
  left: 0px;
  width: 1440px;
  height: 1069px;
  position: absolute;
}
.desktop2-group3 {
  top: 1749px;
  left: 0px;
  width: 1440.001953125px;
  height: 295px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(61, 88, 116, 1);
}
.desktop2-rectangle5 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 295px;
  position: absolute;
}
.desktop2-text16 {
  top: 19px;
  left: 646px;
  color: rgba(255, 255, 255, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text17 {
  top: 1077px;
  left: 256px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text18 {
  top: 750px;
  left: 188px;
  color: rgba(61, 88, 116, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text19 {
  top: 1271px;
  left: 188px;
  color: rgba(61, 88, 116, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-rectangle7 {
  top: 841px;
  left: 188px;
  width: 217px;
  height: 296px;
  position: absolute;
  border-radius: 8px;
}
.desktop2-text20 {
  top: 1077px;
  left: 234px;
  color: rgba(61, 88, 116, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-rectangle11 {
  top: 1358px;
  left: 470px;
  width: 217px;
  height: 296px;
  position: absolute;
  border-radius: 8px;
}
.desktop2-text21 {
  top: 1588px;
  left: 531px;
  color: rgba(61, 88, 116, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-rectangle12 {
  top: 1358px;
  left: 753px;
  width: 217px;
  height: 296px;
  position: absolute;
  border-radius: 8px;
}
.desktop2-text22 {
  top: 1588px;
  left: 816px;
  color: rgba(61, 88, 116, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-rectangle8 {
  top: 841px;
  left: 470px;
  width: 217px;
  height: 296px;
  position: absolute;
  border-radius: 8px;
}
.desktop2-rectangle9 {
  top: 841px;
  left: 753px;
  width: 217px;
  height: 296px;
  position: absolute;
  border-radius: 8px;
}
.desktop2-text23 {
  top: 1077px;
  left: 543px;
  color: rgba(61, 88, 116, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text24 {
  top: 1077px;
  left: 827px;
  color: rgba(61, 88, 116, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-rectangle10 {
  top: 841px;
  left: 1036px;
  width: 217px;
  height: 296px;
  position: absolute;
  border-radius: 8px;
}
.desktop2-text25 {
  top: 1077px;
  left: 1101px;
  color: rgba(61, 88, 116, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-fragment10 {
  display: contents;
}
.desktop2-text26 {
  display: inline-block;
}
.desktop2-fragment11 {
  display: contents;
}
.desktop2-text27 {
  display: inline-block;
}
.desktop2-fragment12 {
  display: contents;
}
.desktop2-text28 {
  display: inline-block;
}
.desktop2-fragment13 {
  display: contents;
}
.desktop2-text29 {
  display: inline-block;
}
.desktop2-fragment14 {
  display: contents;
}
.desktop2-text30 {
  display: inline-block;
}
.desktop2-fragment15 {
  display: contents;
}
.desktop2-text31 {
  display: inline-block;
}
.desktop2-fragment16 {
  display: contents;
}
.desktop2-text32 {
  display: inline-block;
}
.desktop2-fragment17 {
  display: contents;
}
.desktop2-text33 {
  display: inline-block;
}
.desktop2-fragment18 {
  display: contents;
}
.desktop2-text34 {
  display: inline-block;
}
.desktop2-fragment19 {
  display: contents;
}
.desktop2-text35 {
  display: inline-block;
}
.desktop2-fragment20 {
  display: contents;
}
.desktop2-text36 {
  display: inline-block;
}
.desktop2-fragment21 {
  display: contents;
}
.desktop2-text37 {
  display: inline-block;
}
.desktop2-fragment22 {
  display: contents;
}
.desktop2-text38 {
  display: inline-block;
}
.desktop2-fragment23 {
  display: contents;
}
.desktop2-text39 {
  display: inline-block;
}
.desktop2-fragment24 {
  display: contents;
}
.desktop2-text40 {
  display: inline-block;
}
.desktop2-fragment25 {
  display: contents;
}
.desktop2-text41 {
  display: inline-block;
}
.desktop2-group1 a {
  color: rgba(0, 0, 0, 1); /* Default text color */
  text-decoration: none; /* Remove underline by default */
  transition: all 0.3s ease; /* Smooth transition */
}

.desktop2-group1 a:hover {
  color: rgba(61, 88, 116, 1); /* Change color on hover */
  text-decoration: underline; /* Underline on hover */
}
